<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Popular Times</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <link rel="stylesheet" href="/css/style.css">

</head>

<body class=" p-3 is-family-sans-serif">
  <section class="popular-articles has-background-grey-light pt-4">

    <div class="content has-text-centered is-size-5">
      <h1>Popular Articles</h1>
    </div>

    <div class="description section has-text-centered is-size-4">
      <h2 class="content has-text is-size-4">General Description of Popular Times</h2>
      <p>The application is a news portal where users can access the latest news articles of New York Times on various
        topics and also can save the topic of interest to them to view the related news articles later after log in. The
        application provides a convenient and secure way for users to stay up-to-date with the latest news while
        ensuring the privacy and security of their personal information.</p>
    </div>


    <section class="">
  

      <div class="is-flex  is-flex-wrap-wrap is-justify-content-center ">
        {{#each data.results}}
    
        <div class="card mx-3 my-3 ">
          <div class="card-header-title has-text has-text-centered is-size-5">{{title}}</div>
         
          {{!-- <div class="card-image">
            <figure class="image is-48x48">
              <img src="{{imageEl}}" alt="{{title}}">
            </figure>
          </div> --}}
          
          <div class="card-content has-text has-text-justified">
            {{abstract}}
            <a href="{{url}}">Read more ...</a>
          </div>
        </div>
       
        {{/each}}
      </div>

      {{#if isAuthenticated}}
      <a href="/saved-articles">Saved Articles</a>
      {{/if}}
    </section>

  </section>



  </section>
</body>

</html>